

.f1{
  color:#3b3a36;
}

html {
    height: 100%;
}
body {
    font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
    min-height: 100%
}

#root{
  position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}
.App {
  text-align: center;
  height: 100%;
}

.App>div{
  height: 100%;
}

.App-header {

  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.App-title {
  font-size: 1.5em;
  color: #3b3a36;
}

.App-intro {
  font-size: large;

}


.nav-wrapper>a{
  color:white;
}


.landing-img{
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.input-search{

      width: 50%;
      pointer-events: visible;

}
.input-search>div{
  display: contents;
}
.input-search>div>input{
  width: 80%;
  float: left;
}
.input-search>div>a{
  color: white!important;
}

.input-search>button{

    float: left;
}
.wrapper{
  height: 100%;
  display: flex;
justify-content: center;


}

.wrapper>div{
  width: 100%;
}

.login-wrapper{
  height: 100vh;
  background: rgb(38,38,38);
}

.wrapper-photos{
  padding: 25px;
}

.lazy-img{
  display: inline-block;
  padding: 5px;
  box-shadow: 0px 0px 1px 0px #dad8d8;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;

}
.lazy-img:hover{
  box-shadow: 0px 0px 4px 0px #9e9c9c;

}

.trvl-img{
  height:100%;
  width: 100%;
  border-radius: 5px;
  background-size: cover;
}
.modal-header{
  display: block!important;
}
.modal-custom{
  display: flex!important;
  align-items: center!important;
      padding-top: 400px;
}
.fade:not(.show){
  opacity: 1;
}
.modal-backdrop{
  background: #00000054;
}




.trvl-description-modal{
  padding: 15px 0px;
}

.btn-user{
  box-shadow: 0px 0px 1px 0px #22264b;
  margin: 4px;
  float: right;
}

.btn-user:focus{
  box-shadow: 0px 0px 5px 0px #22264b;
}

.firebaseui-list-item{
  list-style: none;
}
.firebaseui-idp-button{
  background: transparent;

  box-shadow: 0px 0px 1px 0px grey;
  padding: 5px;
  border-radius: 5px;
}

.firebaseui-idp-icon{
  margin-right: 15px;
  height:35px;
}
.firebaseui-idp-text-short{
  display: none;
}

.form-control-cust{
  background: transparent!important;
  border: none!important;
  padding: 0px;
  box-shadow: 1px;
  border-radius: 0px!important;
  display: block;


  padding-top: 15px;

}

.form-control-cust>input{
  border-left: 0px!important;
  border-right: 0px!important;
  border-radius: 0px!important;
}

.form-control-cust>input:focus{
  box-shadow: 0 0 0 1px #8588862b;
  border-color: #8588862b;

}
.halal-entry{
   margin-top: 15px;
   margin-bottom: 15px;
   background-color: #2d793a;
   border-color: #2d793a;
}

.or-css{
  margin-top: 15px;
}

.halal-entry:hover{
  background-color: #2d793a;
  border-color: #2d793a;
}
.halal-entry:focus, .halal-entry:active{
    box-shadow: none!important;
    background-color: #2d793a!important;
    border-color: #2d793a!important;
    outline: none!important;
}

.entry-form{
  margin-bottom: 15px;
}

#categoryTextField, #categoryTextField:focus{
    border: none;
    outline: none!important;
    border:none!important;
}
#categoryTextField, .catTags{
  display: inline;
}
.input-css{
  border: none;
  width: 100%;

}

.catTags{
  position: relative;
  background: #1c821c;
padding: 5px 10px;
border-radius: 10px;
color: white;
margin-right: 10px;
}

.input-css:focus {
  box-shadow: none !important;
  outline: none!important;
  border:none!important;
}

.cancelTag{
  position: absolute;
  color: black;
  top:-5px;
  background: red;
  padding: 2px;
  border-radius: 50%;
}

.pac-container {
        z-index: 10000 !important;
        margin-top: 5px;
        box-shadow: 0px 0px 0px 1px #8588862b;


    }

.enter-halal {
  display: flex;
  justify-content: center;
}

.error{
   box-shadow: 0px 0px 2px 0px red;
}

.error-wrapper{
  margin-top: 25px;
}
.error-text{
  color:red;
  font-size: 12px;
  line-height: 2px;
}

.listplaces>li{
  list-style-type: none;;
}
.place{
  display: block;
  text-align: left;
  padding: 25px;
  width: 100%;
  box-shadow: 0px 1px 0px 0px #d4cecec2;

}

.place-name{
  background: white;
  margin-bottom: 25px;

}

.place-tags>p{
  display: inline-block;
  margin-right: 25px;
  background: #1c821c;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}
